{% extends 'base.html' %}
{% block content %}
{% block searchbar %}
{% endblock %}
<style>
    input {
        width:80rem;
        margin-left: 0.1rem;
        height: 2.5rem;
        border:1px #81E6D9 solid;
    }
</style>
<div class="container mx-auto flex flex-col mx-20 mt-10">
    <span class="mb-3 text-center">POST CREATE</span>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <div class="flex justify-end">
            <button class=" hover:bg-real-gray text-center py-3 rounded-lg text-lg font-bold w-1/6 text-black border bg-red-500">Save</button>
        </div>
    </form>
</div>
{% endblock %}