{% extends 'base.html' %}
{% block content %}
{% block searchbar %}
{% endblock searchbar %}
<style>
    img {
        margin:0 auto;
        display: block;
    }
</style>

{% if post.get_img %}
<div class="previous_container absolute">
    <i id="{{ request.META.HTTP_REFERER }}" class="previous_page absolute xi-arrow-left xi-5x text-teal-300 pt-5 cursor-pointer"></i>
</div>
<div class="cover_container absoulte">
    <div class="cover_img rounded-xl bg-white mb-24 bg-cover bg-center overflow-hidden">
        <img class="w-full" src='{{post.get_img}}' alt="">
    </div>
</div>
{% endif %}
<script type="text/javascript">
    $(window).scroll(function(){
        let $window = $(this);
        let scrollTop = $window.scrollTop();
        let windowHeight = $window.height();
        let documentHeight = $(document).height();
        console.log(documentHeight-windowHeight+scrollTop+730 + " | documentHeight:" + documentHeight + " | scrollTop:" + scrollTop + " | windowHeight: " + windowHeight );
        if(scrollTop === 0){
            $(".cover_img").animate({
                height:"1230px",
            },500,"linear")
        } else {
            $(".cover_img").removeClass("hidden").animate({
                height:"560px",
            },500,"linear");
        }
    });
</script>
<script>
    $(document).ready(function() {
      // 기존 css에서 플로팅 배너 위치(top)값을 가져와 저장한다.
      var floatPosition = parseInt($(".previous_container").css('top'));
      // 250px 이런식으로 가져오므로 여기서 숫자만 가져온다. parseInt( 값 );
    
      $(window).scroll(function() {
        // 현재 스크롤 위치를 가져온다.
        var scrollTop = $(window).scrollTop();
  
        var newPosition = scrollTop + floatPosition + "px";
    
        $(".previous_container").css('top', newPosition);

      }).scroll();
    
    });
  </script>
<script type="text/javascript">
    const previous = $(".previous_page").attr("id")
    $(".previous_page").click(function(){
        if(Boolean(previous) === true){
        window.location.href = previous
        } else if(Boolean(previous) === false){
            window.location.href = "{% url 'core:list' %}"
        }
    });
</script>
<div class=" w-8 flex justify-center text-2xl font-bold mt-10 w-full">
    <span class="text-6xl">{{ post.title|linebreaks }}</span>
</div>

<div class="flex justify-center mr-16 items-center ml-10">
    <span class="mx-3 text-sm">{{ post.category }} | </span>
    <span>작성일 {{ post.created|date:"Y년 m월 d일"}}</span>
</div>
<div class=" flex justify-center pb-3">
    <div class="flex h-12 pr-3">
        {% include "mixins/user_avatar.html" with user_obj=post.author h_and_w="w-12 h12" %}
        <a class="flex items-center" href="{% url 'users:profile' post.author.pk %}">{{ post.author.first_name }}</a>
    </div>
</div>
<div class="flex">
    <!-- 좌측 바 -->
    <div class="w-1/4 mr-3">
        <div class="flex flex-col items-center pt-3 h-50vh">
        </div>
    </div>
    <!-- 좌측바 끝 -->
    <div class="post-detail flex flex-col justify-center w-1/2 mb-6 ">
        <div id="body" class="container justify-center h-25hv w-25hv mx-auto pt-3">
        {{ post.body|safe }}
        </div>
    </div>
    <!-- 우측 바 -->
    <div class="w-1/4 flex-col ml-3">
        <div class="flex flex-col justify-end pt-32 h-full">
            {% if request.user == post.author %}
                <a class="border ml-3 text-center rounded-lg font-bold hover:bg-post_detail_gray h-16 w-24 pt-4 text-lg" href="{% url 'posts:edit' post.pk %}">수정하기</a>
            {% endif %}
        </div>
    </div>
</div>
<div class=" my-12">
    <div class="container mx-auto h-8 w-1/2">
        <form method="POST" action="{% url 'comment:create' post.pk%}">
            {% csrf_token %}
            {% for c_form in comment_form %}
                {{ c_form }}
            {% endfor %}
            <div class="flex justify-end">
                <button class="block border w-16 h-10">Save</button>
            </div>
            <script type="text/javascript">
                var user = "{{ request.user.is_authenticated }}"
                $(window).ready(function(){
                    if(user === "True"){
                        $(".comment-write").removeClass("cursor-not-allowed");
                    } else {
                        $(".comment-write").addClass("cursor-not-allowed");
                    };
                });
                $(".comment-write").click(function(e){
                    if(user === "False"){
                        alert("로그인 후 이용해주세요.");
                    }
                })
            </script>
        </form>
    </div>
    <div class="flex flex-col mx-auto my-20 pt-64 w-full">
        {% for comment in post.comments.all %}
                <div class="flex justify-center w-full ">
                    <div class="flex justify-end items-center w-1/6 pr-6 border-b border-r text-center">{{ comment.user.first_name }}</div>
                    <div class="w-1/2 border-b py-3 pl-3 ">{{ comment|linebreaks }}</div>
                </div>
        {% endfor %}
    {% endblock %}
    </div>
</div>
