{% extends 'base.html' %}

{% block content %}
{% block searchbar %}
{% endblock searchbar %}
<div class="flex justify-center w-full">
    <!-- avatar / name / residence  -->
    <div class="flex items-center">
        {% include "mixins/user_avatar.html" with user_obj=user_obj h_and_w="h-32 w-32" %}
        <div class="flex flex-col">
            <span class="block text-3xl">{{ user.first_name }}</span>
            <span class="block text-xl text-center">{{ user.get_residence_display }}</span>
        </div>
            <!-- introduction -->
    </div>
</div>
<div class="container mx-auto w-1/2 mt-16 pb-12">
    <span class="text-xl">{{ user.introduction }}</span>
    <div class="flex flex-wrap mx-auto pt-24 pl-12 border-t border-gray-400">
        {% for post in user.post.all %}
            {% if post.get_img %}
                <a href="{% url 'posts:detail' post.pk %}"><img class="rounded-lg" style="width:300px; height:180px;" src="{{post.get_img}}"></a>
            {% else %}
                <a href="{% url 'posts:detail' post.pk %}"><img class="rounded-lg bg-cover bg-center" style="width:300px; height:180px; background-image: url(https://images.unsplash.com/photo-1520004434532-668416a08753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);"></a>
            {% endif %}
        {% endfor %}
        <div>
            {{ post.title }}
        </div>
    </div>
</div>
                
{% endblock content %}